<ion-header>
  <ion-toolbar>
    <ion-title>Add Actions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="floating">Introduce the title</ion-label>
    <ion-input [(ngModel)]="title"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">Introduce the date</ion-label>
      <ion-input [(ngModel)]="date"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">Introduce the description</ion-label>
      <ion-input [(ngModel)]="descrip"></ion-input>
  </ion-item>

  <ion-toolbar color="primary">
    <ion-button fill="clear" expand="full" color="light" (click)="selectImage()">
      <ion-icon slot="start" name="camera">
        Select image
      </ion-icon>
    </ion-button>
  </ion-toolbar>

    <ion-button expand="full" color="light" (click)="startRecording()">
      <!-- <ion-icon slot="start" name="camera"> -->
        Start
      <!-- </ion-icon> -->
    </ion-button>

    <ion-button (click)="stopRecording()" color="danger" expand="full">
      <!-- <ion-icon slot="start" name="camera"> -->
        Stop
      <!-- </ion-icon> -->
    </ion-button>



</ion-content>

<ion-footer>

  <ion-button class="btn-save" shape="round" expand="full" fill="outline" (click)="saveAction()">Save action</ion-button>

</ion-footer>
